*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}
body{
  background-color: hsl(212, 45%, 89%);
}
main{
  background-color: hsl(0, 0%, 100%);
  width: 17em;
  margin: auto;
  padding: 13px;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 2em;
  margin-top: 12vh;
}
img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1em;
}
h1{
  font-size: 20px;
  margin-bottom: .5em;
}
p{
  font-size: 15px;
}